* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


.border-bottom-green {
  border-bottom: 0.5px solid #D5E0D5 !important;
}

.bg-green {
  background-color: #108A00 !important;
}

.border-green {
  border: 2px solid #108A00 !important;
}

.bg-green-500:hover, .model-name:hover{
  background-color: #fff !important;
  color: #108A00 !important;
}

.bg-green:hover {
  background-color: #14A800 !important;
  transition: 0.3s ease;
}

.ff-nato {
  font-family: 'Noto Serif Bengali', serif;
  font-weight: 500 !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-15 {
  font-size: 15px !important;
}

.fs-11 {
  font-size: 11px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.active-dropdown {
  background-color: #F2F7F2 !important;
}

.dropdown-toggle::after {
  display: none !important; 
}

.border-right {
  border-right: 1px solid gray;
}

.text-dark-green {
  color: #001e00 !important;
  cursor: pointer;
}

.bg-dark-green {
  background-color: #001e00 !important;
}

.bg-mint {
  background-color: #13544e !important;
}

.text-dark-mint {
  color: #13544e !important;
}

.br-l-10 {
  border-radius: 10px 0 0 10px !important;
}


.text-hover-green:hover {
  color: #14A800 !important;
}

.fw-bold-5 {
  font-weight: 500 !important;
}

/* .dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
} */

.hover-rotate{
  transition: transform .2s;
  transform: rotate(180deg);
}
.hover-rotate:hover{
  transform: rotate(180deg);
}

.hover-rotate.collapse{
  transform: rotate(90deg); 
}

.homepage-content {
  font-size: 80px;
  font-family: 'Noto Serif Bengali', serif;
  font-weight: 500;
}

.text-green {
  color: #14A800 !important;
}

.bg-green-200 {
  background-color: #14A800 !important;
}

.bg-green-100 {
  background-color: #108a00a2 !important;
  border: none !important;
}


.dropdown-hover:hover {
  /* background-color: #F2F7F2 !important; */
  background-color: #f7faf7 !important; 
}

.dropdown-hover-background {
  background-color: #D5E0D5 !important; 
}

.br-10 {
  border-radius: 10px !important;
}

.br-r-10 {
  border-radius: 0 10px 10px 0 !important;
}

.bg-green-hover:hover {
  background-color: #e4ebe4 !important;
  cursor: pointer;
}

.text-mint {
  color: #91e6b3 !important;
}

.z-1 {
  z-index: 11 !important;
}

.z-2 {
  z-index: 22 !important;
}

.btn-separator {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  line-height: .1em;
  font-weight: 300;
}

.btn-separator span {
  padding: 0 10px;
  background: #fff;
  color: #606060;
}

.google-btn{
  background-color: #4285f4 !important;
}

.google-btn:before {
  width: 38px;
  max-width: 38px;
  height: 38px;
  align-items: center;
  justify-content: start;
  display: flex;
  content: "";
  border-radius: 100%;
  /* background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg width='38' height='38' viewBox='0 0 101.33 101.33' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M0 0h101.33v101.33H0z'/%3E%3Cpath d='M50.667 36.167c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85c-4.16-3.87-9.59-6.25-16.06-6.25-9.38 0-17.49 5.38-21.44 13.22l7.98 6.19c1.89-5.69 7.2-9.91 13.46-9.91z' fill='%23ea4335'/%3E%3Cpath d='M73.647 51.217c0-1.57-.15-3.09-.38-4.55h-22.6v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z' fill='%234285f4'/%3E%3Cpath d='M37.197 55.257c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19c-1.63 3.24-2.55 6.9-2.55 10.78s.92 7.54 2.56 10.78z' fill='%23fbbc05'/%3E%3Cpath d='M50.667 74.667c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19c3.96 7.85 12.07 13.23 21.45 13.23z' fill='%2334a853'/%3E%3Cpath d='M26.667 26.667h48v48h-48z' fill='none'/%3E%3C/svg%3E); */
}

.google-btn:after {
  width: 38px;
  height: 38px;
  content: "";
}

.google-btn-label {
  flex-grow: 2;
}

.pad-1 {
  padding: 2px 0 2px 0 !important;
}

.line-heading {
  overflow: hidden;
  text-align: center;
  margin-top: 6rem;
}

.line-heading:before {
  right: 10px;
  margin-left: -50%;
}
.line-heading:after, .line-heading:before {
  background-color: #8f8e8e;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.line-heading:after {
  left: 10px;
  margin-right: -50%;
}
.line-heading:after, .line-heading:before {
  background-color: #8f8e8e;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.footer-visitor-skinny {
  flex: none;
  text-align: center;
  background-color: #001e00;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
}

.signup-btn:hover {
  background-color: #E4EBE4 !important;
  color: #14A800 !important;
}

.br-5 {
  border-radius: 5px !important;
}

.bg-gray {
  background-color: #e4ebe4 !important;
}

.category-tile {
  height: 135px;
}


/* Radio Button */
.radioBtnBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  max-width: 970px;
  padding: 50px 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  border-radius: 20px;
  border: 1px solid #d5e0d5;
  /* -webkit-box-shadow: 0px 8px 10px 0px #d8dfeb;
  box-shadow: 0px 8px 10px 0px #d8dfeb; */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.radioBtnBox .radioBox input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radioBtnBox .radioBox {
  cursor: pointer;
  width: 48.5%;
}

.radioBtnBox .radioBox .radioBox-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #e1e2e7;
  border-radius: 10px;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  -o-transition: box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
  position: relative;
}

.radioBtnBox .radioBox .radioBox-content img {
  margin-right: 30px;
  height: 72px;
}

.radioBtnBox .radioBox .radioBox-details span {
  margin-bottom: 10px;
  display: block;
  font-size: 20px;
  line-height: 24px;
  color: #252f42;
}

.container .title {
  font-size: 20px;
  font-weight: 500;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  color: #252f42;
  margin-bottom: 20px;
}

.radioBtnBox .radioBox .radioBox-details p {
  color: #646a79;
  font-size: 14px;
  line-height: 18px;
}

.radioBtnBox .radioBox .radioBox-content:hover {
  -webkit-box-shadow: 0px 3px 5px 0px #e8e8e8;
  box-shadow: 0px 3px 5px 0px #e8e8e8;
}

.radioBtnBox .radioBox input[type="radio"]:checked + .radioBox-content:after {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  background: #14A800;
  right: 20px;
  top: 20px;
  border-radius: 100%;
  border: 3px solid #fff;
  -webkit-box-shadow: 0px 0px 0px 2px #14A800;
  box-shadow: 0px 0px 0px 2px #14A800;
}



.radioBtnBox .radioBox input[type="radio"]:checked + .radioBox-content {
  border: 2px solid #14A800;
  background: #eaf1fe;
  -webkit-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.userTypeBtn {
  width: 300px;
}

.title {
  font-family: 'Noto Serif Bengali', serif;
  font-weight: 500;
}


.rebrand-underlay {
  background-image: url(https://www.upwork.com/static/assets/Brontes/img/find-talent.06d34b1.jpg);
  border-radius: 8px;
  left: -15px;
  right: -15px;
  background-size: cover;
  background-position: top;
}

.model-name {
  margin-top: auto;
  text-align: left;
}

.cursor-disable {
  cursor: not-allowed !important;
}

.air3-presence-container {
  position: relative;
  display: inline-grid;
}

.air3-presence-container .air3-avatar, .air3-presence-container .air3-presence-indicator {
  grid-area: 1/-1;
}
.air3-presence-indicator-online {
  --presence-bg: var(--presence-bg-success);
}
.air3-presence-indicator {
  --presence-size: 10px;
  --presence-bg-success: var(--bg-success);
  --presence-bg-away: var(--bg-warning);
  --presence-bg-offline: var(--bg-offline);
  display: inline-flex;
  width: var(--presence-size);
  height: var(--presence-size);
  margin-left: var(--ws-2x);
  background-color: var(--presence-bg);
  background-color: var(--hc-bg-selected,var(--presence-bg));
  border-radius: 50%;
}

.air3-presence-container [class^=air3-badge-tier] {
  position: absolute;
  right: var(--ws-2x);
  bottom: var(--ws-3x);
}

.air3-badge-tier-sm {
  width: 28px;
  height: 16px;
  position: absolute;
  top: 98px;
  left: 90px;
}

.air3-badge-tier, .air3-badge-tier-sm {
  background: #debe1a;
  color: #fff;
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  border-radius: 2px / 4px;
}

.air3-badge-tier-sm:before, .air3-badge-tier:before {
  transform: rotate(60deg);
}

.air3-badge-tier-sm:after, .air3-badge-tier-sm:before, .air3-badge-tier:after, .air3-badge-tier:before {
  position: absolute;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: "";
}

.air3-badge-tier-sm .air3-icon {
  font-size: 16px;
}

.air3-badge-tier-sm .air3-icon, .air3-badge-tier .air3-icon {
  z-index: 1;
  position: relative;
}




.air3-icon {
  display: inline-flex;
  width: 20px;
  height: 18px;

  
}

.air3-icon>svg {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%!important;
  height: 100%!important;
  display: block;
  color: #fff !important;
}


.air3-badge-tier-sm:after, .air3-badge-tier:after {
  transform: rotate(-60deg);
}
.air3-badge-tier-sm:after, .air3-badge-tier-sm:before, .air3-badge-tier:after, .air3-badge-tier:before {
  position: absolute;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: "";
}


.air3-presence-container .air3-avatar, .air3-presence-container .air3-presence-indicator {
  grid-area: 1/-1;
}

.air3-avatar-128 {
  width: 128px;
}

.air3-avatar {
  --avatar-size: 128px;
  --avatar-bg: #9aaa97;
  --avatar-text: #fff;
  --avatar-font-size: 14px;
  --avatar-radius: 50%;
  --avatart-company-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: none;
  font-size: var(--avatar-font-size);
  width: var(--avatar-size);
  height: var(--avatar-size);
  max-width: var(--avatar-size);
  max-height: var(--avatar-size);
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
  background-color: var(--avatar-bg);
  color: var(--avatar-text);
  vertical-align: middle;
  border: 0;
  border: var(--hc-border,0);
  border-radius: var(--avatar-radius);
}

.rounded-10 {
  border-radius: 20px !important;
}

.rounded-100 {
  border-radius: 100% !important;
}

.d-inline-flex{
  display: inline-flex;
}

.text-gray {
  color: #5e6d55 !important;
}

.fs-17 {
  font-size: 17px !important;
}


.w-20 {
  width: 20% !important;
}


.w-15 {
  width: 15% !important;
}

.w-18 {
  width: 18% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-42 {
  width: 42% !important;
}

.w-70 {
  width: 70% !important;
}


.w-80 {
  width: 80% !important;
}

.w-60 {
  width: 60% !important;
}


.w-56 {
  width: 56% !important;
}

.w-135 {
  width: 135% !important;
}

.w-170 {
  width: 170% !important;
}

.w-240 {
  width: 240% !important;
}

.w-400 {
  width: 400% !important;
}

.w-600 {
  width: 600% !important;
}


.w-10 {
  width: 9% !important;
}


.bg-gray-80 {
  background-color: #e4ebe4 !important;
}

.text-gray-60 {
  color: #beccbe !important;
}

.bg-gray-100 {
  background-color: #f7faf7 !important;
}

.btn-focus-none:focus {
  border: none !important;
}

.fs-32 {
  font-size: 32px !important;
}

.w-350 {
  width: 350px !important;
}

.air3-avatar-88 {
  width: 80px ;
  font-size: 32px;
}

/* 
.air3-avatar {
  --avatar-size: 32px;
  --avatar-bg: #9aaa97;
  --avatar-text: #fff;
  --avatar-font-size: 14px;
  --avatar-radius: 50%;
  --avatar-company-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: none;
  font-size: var(--avatar-font-size);
  width: var(--avatar-size);
  height: var(--avatar-size);
  max-width: var(--avatar-size);
  max-height: var(--avatar-size);
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
  background-color: var(--avatar-bg);
  color: var(--avatar-text);
  vertical-align: middle;
  border: 0;
  border: var(--hc-border,0);
  border-radius: var(--avatar-radius);
} */

.air3-image-crop-avatars:not(:empty), .air3-image-crop-preview-title {
  margin-bottom: 24px;
}

@media (min-width: 700px){
  .air3-image-crop-avatars .air3-avatar {
    position: relative;
    background-color: #f7faf7;
  }
}

.air3-avatar-60 {
  width: 60px ;
  font-size: 20px ;
}

.air3-avatar-40 {
  width: 40px ;
  font-size: 20px ;
}

.air3-avatar-32 {
  width: 32px;
  height: 32px;
  font-size: 20px ;
}

.air3-avatar-40 {
  --avatar-size: 40px;
  --avatar-font-size: var(--font-size-base);
}
.air3-avatar-88 {
  --avatar-size: 88px;
  --avatar-font-size: 32px;
}

.air3-avatar-60 {
  --avatar-size: 60px;
  --avatar-font-size: 20px;
}

.border-dashed {
  border: 2px dashed #d5e0d5 !important;
}

button:focus {
  border: none !important;
}